@import 'tailwindcss';

:root {
  --primary-color: var(--color-blue-600);
}

@theme {
  --font-iransansx: 'IRANSansX', sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary-color);
  --color-subtext: var(--subtext-color);
  --color-error: #b3261e;
}
